rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isVerifiedEmail() {
      return request.auth != null && request.auth.token.email_verified == true;
    }

    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }
